* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}
p {
  margin-top: 25px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.container {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.box {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  cursor: pointer;
}

#grey {
  background-color: grey;
}

#white {
  background-color: white;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}
